<html>
    <head>
	<title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
	<link rel="stylesheet" href="/css/home_styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    </head>

    <body>
    <div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div id="notification_div" class="wrap">
			<img id="profile-img" src="<%=`profile_imgs/${user.image_url}`%>" class="online" alt="" height="180px" width="180px" />
				<% if(notifications) { %>
					<a id="not" href="" data-toggle="modal" data-target="#acceptFriends" style="float:right;margin: 20px;" class="badge badge-danger"><%=notifications%></a>
				<% } %>
				<p id="firstname"><%=user.first_name%></p> <p style="display:none" id="lastname"><%=user.last_name%></p>
				<p id="user_id" style="display:none"><%=user.id%></p>
				<p id="user_img" style="display:none"><%=user.image_url%></p>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="contacts">
			<ul id="friend_list">
			<% for (let i =0; i< friends.length; i++) {%>
				<li class="friends contact" >
					<div class="wrap">
					
					<img src="<%=`profile_imgs/${friends[i].user.image_url}`%>" height="40px" width:"40px" />
					<div class="meta">
					<p class="friend_id" style="display:none"><%=friends[i].user.id%></p>
					<p class="friend_img" style="display:none"><%=friends[i].user.image_url%></p>
					<p class="friend_name" class="name"><%=`${friends[i].user.first_name}  ${friends[i].user.last_name}`%></p>				
					</div>
					</div>
				</li>
			<% } %>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="add_contact" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img style="display:none" id="current_img" src="" alt="" height="40px" width="40px" />
			<p id="current_name"></p>
			<a href="/logout" id ="logout"><i style="float: right;margin: 20px;" class="fa fa-sign-out" aria-hidden="true"></i></a>
			
		</div>
		<div class="messages">
		<div id="no-chats" class="wrapper">
		<h1>No Chat available</h1>
		<p>Select friend to display chat</p>
		</div>
		
			<ul id="messages-list">
				
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="message" type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button id="send_message" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<%# including the modals %>
<%- include('addFriend'); %>
<%- include('acceptFriends'); %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/mySocket.js"></script>
<script src="/js/home_js.js"></script>
<script src="/js/interactions.js"></script>
    </body>
</html>